{% extends '/teacher/teacher_base.html'  %}

{% block title %}Edit Score{% endblock %}

{% block content %}

  <h3 class="mb-4">Edit Scores</h3>
  <form action="" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
      <p>
          {{field.label}}
          {{field}}
          {% for err in field.errors %}
            {{err}}
            {% endfor %}

      </p>
      {% endfor %}
      <button class="btn btn-info">Update</button>
  </form>


{% endblock %}
<h1>hii</h1>