{% extends '/teacher/teacher_base.html'  %}

{% block title %}Edit Assignment{% endblock %}

{% block content %}

  <h3 class="mb-4">Update Assignment</h3>
  <form action="" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
      <p>
          {{field.label}}
          {{field}}
          
          {% for error in field.errors %}
          <span class="form-text text-danger">{{error}}</span>
          {% endfor %}

      </p>
      {% endfor %}
      <button class="btn btn-info mb-3">Update</button>
  </form>

  <a href="/teachers/{{assignment.teacher_id}}">Back to Assignments List</a>

{% endblock %}